<style>
    /* navbar: highlight select item */
    #about div.tab-circle {
        visibility: visible;
    }
    #about > a {
        color: #548FCE;
    }

    /* common */
    .block, .block img, .dot-line  {
        position: relative;
        width: 100%;
    }
    .dot-line {
        margin: 60px 0px;
        border-top: 2px #4B79BD dotted;
    }
    
    /* header block */
    .heand {
        position: relative;
        color: #548FCE;
    }
    .my-photo {
        width: 100%;
    }
    .name-block {
        position: absolute;
        height: 100px;
        left: -20px;
        top: 0px;
        bottom: 90px;
        margin: auto;
    }
    .name-block p {
        margin-bottom: 0px;
    }
    .name-en {
        font-size: 48px;
    }
    .name-ch {
        font-size: 20px;
    }
    .profile-img {
        float: right;
    }
    .profile-text {
        float: left;
        color: #548FCE;
    }
    .phone-pc-block {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    /* time line */
    .item-bullet {
        position: static;
    }
    .history .row {
        margin-bottom: 25px;
    }
    .row:before, .row:after {
        content: " ";
        display: table;
    }
    .row:after {
        clear: both;
    }
    .history .row:last-child .item-bullet:after {
        opacity: 0;
    }
    .item-bullet:after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #548FCE;
        display: block;
        margin-left: 7.5px;
        top: 10px;
        z-index: 0;
    }
    .item-bullet:before, .item-bullet:after {
        position: absolute;
        left: 4.1666666667%;
    }
    .item-bullet:before {
        content: ' ';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        background-color: #548FCE;
        margin-top: 10px;
        margin-left: 0.5px;
        z-index: 1;
    }
    .item h3 {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        color: #548FCE;
        margin: 0px 0px 10px 0px;
    }
    .item li {
        list-style: none;
    }
    .item ul, .item li {
        padding-left: 0px;
        font-size: 16px;
        color: #81A5CC;
    }
    .item .description li {
        color: #548FCE;
 
        letter-spacing: 1px;
    }

    /* profile list */
    .profile-list {
        height: auto;
    }
    .profile-list:hover .profile-content {
        animation: none;
    }
    .profile-content {
        position: relative;
        box-shadow: 0px 4px 9px #ABBDCF;
        background: white;
        border-radius: 8px;
    }
    /* .profile-list:hover .profile-content {
        animation-name: mouseOverProfile;
        animation-duration:2s;
        animation-iteration-count:infinite;
        animation-timing-function:step-start;
    } */
    .all-rights-reserved {
        display: none;
    }
    .profile-title, .profile-sub-title {
        font-size: 15px;
        color: #548FCE;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .profile-sub-title {
        width: 100%;
        height: 20px;
        margin-bottom: 10px;
    }
    .profile-desc {
        font-size: 13px;
        color: #93B3E3;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .nav > li > a.profile-type-link:hover {
        background-color: transparent;
    }
    .nav > li > a.profile-type-link {
        padding: 0px;
    }

    @keyframes mouseOverProfile {
        0%{
            top: 0px;
        }
        100%{
            top: -20px;
        }
    }
    .customized .see-detail {
        position: relative;
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        border-radius: 0px 0px 8px 8px;
    }
    .customized .see-detail-content {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10%;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
    .see-detail-content h3 {
        color: #ffffff;
        font-weight: 500;
        text-align: left;
        margin: 0px 0px 22px 0px;
    }
    .see-detail.customized-1 {
        background-color: #656CEE;
    }
    .see-detail.customized-2 {
        background-color: #38B1E3;
    }
    .see-detail.customized-1 .see-detail-content button {
        color: #656CEE;
    }
    .see-detail.customized-1 .see-detail-content button:hover {
        color: #fff;
        background-color: #444BCD;
        border: 1px solid #fff;
    }
    .see-detail.customized-2 .see-detail-content button:hover {
        color: #fff;
        background-color: #088CC2;
        border: 1px solid #fff;
    }
    .customized .see-detail-content {
        padding: 5%;
    }
    .see-detail-content button {
        padding: 10px 0px;
        position: absolute;
        bottom: 0px;
        width: 80%;
        background: #FFFFFF;
        border-radius: 10px;
        left: 0px;
        margin: 0px 5% 10% 10%;
        border: none;
    }
    .customized img {
        border-radius: 8px 8px 0px 0px;
    }
    .customized .see-detail-content a,
    .customized .see-detail-content a button {
        position: relative;
        width: 100%;
        min-height: 46px;
        margin: 0px;
        display: inline
    }

    @media (max-width: 767px) {
	    .timeline {
            left: 0px;
        }
        .name-block {
            left: 0px;
        }
    }
    @media (min-width: 992px) {
        /* header block */
        .profile-img.col-md-6 {
            float: left;
        }
        .profile-text.col-md-6 {
            float: right;
            padding-top: 70px;
        }
    }
    @media (min-width: 1200px) {
        /* header block */
        .profile-img.col-lg-6 {
            float: left;
        }
        .profile-text.col-lg-6 {
            float: right;
            padding-top: 70px;
        }
    }
</style>

<div class="about-block">
    <div class="col-xss-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 profile-text">
        <p id="title" style="font-weight: bold; font-size: 15pt; margin-bottom: 20px; ">UX/UI 設計師，專長平面設計、CIS設計、UX/UI設計</p>
        <p>Hi, I'm Michelle</p>
        <br>
        <p>設計領域約6年的經歷，在團隊裡負責 APP、Web、Mobile web 的 UIUX 設計，樂於與不同領域的專業人士溝通與合作嘗試不同的可能性，並且用心專注於細節讓團隊合作效率提升，以全面的思維解決問題，具備從產品策略至設計實踐的專業與視野。</p>
        <p style="margin: 18px 0px 18px 0px;">經歷：</p>
        <p>執行過幾款 APP 改版的專案，像是 17FIT 品牌 APP、薦片播放器 APP、PICOWORK 雲端協作系統 APP...等等，且多為改版的主要負責設計師 ; 除了APP 的經歷外，也有營運、線上消費、雲端協作OS的前端、後台、Kiosk 自動購票系統的設計經驗。</p>
        <p style="margin: 18px 0px 18px 0px;">擅長工具：</p>
        <div>Figma | Sketch | Adobe XD | Illustrator | Photoshop</div>
        <div class="phone-pc-block">
            <img style="margin-left: 10px;" src="img/icon/icon_phone.png">
            <img style="margin-left: 10px;" src="img/icon/icon_pc.png">
        </div>
 
    </div>

    <div class="col-xss-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 profile-img">
        <div class="heand">
            <img class="img-responsive my-photo" src="img/my-michelle.png">
            <div class="name-block">
                <p class="name-en">Michelle</p>
                <p class="name-ch">莊貽婷</p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="dot-line"></div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 history">
        <div class="row" ng-repeat="(key, val) in history | orderBy:'-time'">
            <div class="col-xs-2 col-sm-1 item-bullet"></div>
            <div class="col-xs-10 col-sm-11 item">
                <h3><b>{{ val.company }} {{ val.title }}</b></h3>
                <h3><b>{{ val.time }}</b></h3>
                <ul class="work-list">
                    <li ng-repeat="(key2, val2) in val.jobTitle">{{val2}}</li>
                </ul>
                <br>
                <ul class="work-list description">
                    <li>{{val.desc}}</li>
                </ul>
                <div 
                    class="profile-list col-xs-12 col-sm-6 col-md-6 col-lg-6 customized"
                    ng-repeat="(key2, val2) in val.profile">
                    <a href="{{ val2.customizedLink }}" style="text-decoration:none;">
                    <div style="position: relative; width: 100%; height: 100%;">
                        <img 
                            style="width: 100%;"
                            src="{{ val2.cover }}">
                        </img>
                        <div class="mask"></div>
                        <div class="see-detail {{ val2.detailButtonClass }}">
                            <div class="see-detail-content">
                                <h3>
                                    {{ val2.title }}<br>{{ val2.subTitle }}
                                </h3>
                                <p>{{ val2.description }}</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>