<style>
    #about div.tab-circle {
        visibility: visible;
    }
    #about > a {
        color: #548FCE;
    }
    .page-header {
        width: 75px;
        height: 75px;
        z-index: 1;
        background: #548FCE;
        border: none;

        transform: rotate(45deg);
        -ms-transform:rotate(45deg);     /* IE 9 */
        -moz-transform:rotate(45deg);    /* Firefox */
        -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
        -o-transform:rotate(45deg);
    }
    
    .triangle-right {
        position: relative;
        top: 34px;
        width: 0px;
        height: 0;
        border-top: 4px solid transparent;
        border-left: 30px solid #8BB5E2;
        border-bottom: 4px solid transparent;
    }
    .phone-pc-block {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    /* .timeline-content {
        position: relative;
        top: 0px;
        left: 80px;
        margin-bottom: 10px;
        text-align: left;
    }
    .timeline-heading {
        display: inline-block;
        border: 2px solid #8BB5E2;
        padding: 15px 25px;
        margin-left: 45px;
        color: #548FCE;
        border-radius: 10px;
        font-size: 15px;
        box-shadow: 0px 2px 4px #B8CDEA;
    }
    .timeline-block-web {
        display: none;
    }
	.about-left-block {
		padding-top: 0px;
		left: 0px;
		text-align: center;
		margin: 20px 0px;
	}
    .about-head {
        width: 100%;
    }
    @media (min-width: 768px) {
	    .timeline-block-web {
	        position: relative;
	        left: 110px;
	        max-width: 600px;
	        display: block;
	    }
        .phone-pc-block {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    } */


    .heand {
        position: relative;
        color: #548FCE;
    }
    .my-photo {
        width: 100%;
    }
    .name-block {
        position: absolute;
        height: 100px;
        left: -20px;
        top: 0px;
        bottom: 90px;
        margin: auto;
    }
    .name-block p {
        margin-bottom: 0px;
    }
    .name-en {
        font-size: 48px;
    }
    .name-ch {
        font-size: 20px;
    }
    .about-block ul {
        padding: 0px;
    }
    .timeline {
        position: relative;
        left: 50%;
        color: #548FCE;
        padding-right: 15px;
    }
    .timeline li {
        list-style: none;
    }
    .timeline > li {
        position: relative;
        margin-left: 9px;
        padding-left: 18px;
        padding-bottom: 40px;
    }
    .timeline .thread {
        position: absolute;
        width: 1px;
        height: calc(100% - 200px);
        background-color: #548FCE;
        padding-left: 0px;
        left: -1px;
    }
    .circle {
        position: absolute;
        left: -9px;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: top;
        background-color: #548FCE;
        border-radius: 100%;
    }
    .description h5 {
        font-size: 18px;
        font-weight: bold;
    }
    .description .work-list {
        font-family: PingFangTC-Regular;
        font-size: 16px;
        color: #81A5CC;
        text-align: justify;
    }
</style>
	<div class="about-block">
	    <div class="col-xss-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="heand">
                <img class="img-responsive my-photo" src="img/my-michelle.png">
                <div class="name-block">
                    <p class="name-en">Michelle</p>
                    <p class="name-ch">莊貽婷</p>
                </div>
            </div>

            <ul class="timeline" style="padding-right: 15px">
                <li class="thread"></li>
                <li></li>
                <li ng-repeat="(key, val) in history | orderBy:'-time'">
                    <div class="circle"></div>
                    <div class="description">
                        <h5>
                            <span class="company">{{val.company}}</span>
                            <span class="title">{{val.title}}</span>
                            <br>
                            <span class="time">{{val.time}}</span>
                        </h5>
                        <ul ng-repeat="(key2, val2) in val.description" class="work-list">
                            <li>{{val2}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
	    </div>

	    <div class="col-xss-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
	        <div style="color: #548FCE; position: relative; margin-top: 70px;">
	            <p id="title" style="font-weight: bold; font-size: 15pt; margin-bottom: 20px; ">UX/UI 設計師，專長平面設計、CIS設計、UX/UI設計</p>
                <p>Hi, I'm Michelle</p>
                <br>
	            <p>擅長平面設計、CIS設計、UX/UI設計，樂於與不同領域的專業人士溝通與合作嘗試不同的可能性，並且用心專注於細節讓團隊合作效率提升，以全面的思維解決問題，具備從產品策略至設計實踐的專業與視野。</p>

	            <p style="margin: 18px 0px 18px 0px;">擅長工具</p>
	            <div>Sketch | Adobe XD | Illustrator | Photoshop</div>
                <div class="phone-pc-block">
                    <img style="margin-left: 10px;" src="img/icon/icon_phone.png">
                    <img style="margin-left: 10px;" src="img/icon/icon_pc.png">
                </div>
	        </div>
	    </div>
    </div>