<style>
    #profile div.tab-circle {
        visibility: visible;
    }
    #profile > a {
        color: #548FCE;
    }
    .photoBar {
        height: 30px;
        margin-bottom: 10px;
    }
    .photoBar .tag {
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
    }

    .photoView {
        padding: 3px;
        border: 1px solid gray;
    }
    .photoInView {
        position: relative;
        width: auto;
    }
    .infoMobile, .infoPC {
        display: none;
    }

    .iphone7 {
        width: 250px;
    }
    .mobile-content {
        position: absolute;
        top: 85px;
        left: 17px;
        width: 220px;
    }
    .mobile-content-else {
        width: 220px;
    }
    .img-block {
        text-align: center;
    }
    .mobile-content-sec {
        margin: 10px 0px;
    }
    @media (min-width: 767px) {
        .infoPC {
            display: block;
        }
        body {
            overflow-y: scroll; 
        }
        .go-top {
            right: 50px;
            bottom: 50px;
        }
        .iphone7 {
            width: 250px;
        }
        .mobile-content-else {
            width: 220px;
        }
        .img-block {
            text-align: left;
        }
        .img-block-sec {
            position: relative;
            left: 20px;
        }
    }
    @media (min-width: 1179px) {
        .iphone7 {
            width: 285px;
        }
        .mobile-content {
            top: 95px;
            width: 250px;
        }
        .mobile-content-else {
            width: 250px;
        }
    }
    @media (min-width: 1400px) {
        .col-lg-offset-1 {
            margin-left: 0px;
            margin-right: 50px;
        }
    }

    .all-rights-reserved {
        display: none;
    }

    .go-top {
        position: fixed;
        right: 20px;
        bottom: 20px;
        color: #5076AF;
        font-size: 14pt;

        display: none;
        padding: 10px;
        border: 1px solid;
        border-radius: 100%;
        background: #fff;
    }
</style>

<div ng-include="'tpl/profile_detail.html'" class="col-xss-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
</div>

<div class="col-xss-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div ng-if="profile.tpl == 'website'" ng-repeat="val in profile.image" style="margin-bottom: 20px; text-align: center;">
        <p ng-if="val.desc" style="color: #5076AF;"><span>{{($index+1) + ". "}}</span>{{val.desc}}</p>
        <img class="photoInView" ng-src="{{val.img}}">
    </div>
    <div class="img-block" ng-if="profile.tpl.indexOf('app') != -1" ng-repeat="val in profile.image" style="margin-bottom: 20px;">
        <div ng-if="$index == 0" >
            <div style="position: relative; display: inline-block;">
                <p style="color: #5076AF; text-align: left;"><span>{{($index+1) + ". "}}</span>{{val.desc}}/{{profile.image[$index+1].desc}}</p>
                <img class="iphone7" src="img/icon/black-iphone-7.png">
                <img class="mobile-content" ng-src="{{val.img}}">
            </div><div style="position: relative; display: inline-block;">
                <img class="mobile-content-else mobile-content-sec" ng-src="{{profile.image[$index+1].img}}">
            </div>
        </div>
        <div class="img-block-sec">
            <div ng-if="$index > 1 && $index%2 == 0">
                <div style="position: relative; display: inline-block;">
                    <p style="color: #5076AF; text-align: left;"><span>{{($index) + ". "}}</span>{{val.desc}}</p>
                    <img class="mobile-content-else" ng-src="{{val.img}}">
                </div>
                <div ng-if="$index+1 < profile.image.length" style="position: relative; display: inline-block;">
                    <p style="color: #5076AF; text-align: left;"><span>{{($index+1) + ". "}}</span>{{profile.image[$index+1].desc}}</p>
                    <img class="mobile-content-else" ng-src="{{profile.image[$index+1].img}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="goTop" ng-click="screenTop()" class="go-top">Top</div>
