<style>
    #profile div.tab-circle {
        visibility: visible;
    }
    #profile > a {
        color: #548FCE;
    }
    .photoBar {
        height: 30px;
        margin-bottom: 10px;
    }
    .photoBar .tag {
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
    }

    .photoView {
        padding: 3px;
        border: 1px solid gray;
    }
    .photoInView {
        position: relative;
        width: 100%;
        max-width: 800px;
    }
    .infoMobile, .infoPC {
        display: none;
    }

    .iphone7 {
        width: 250px;
    }
    .mobile-content {
        position: absolute;
        top: 85px;
        left: 17px;
        width: 220px;
    }
    .mobile-content-else {
        width: 220px;
    }
    .img-block {
        text-align: center;
    }
    .mobile-content-sec {
        margin: 10px 0px;
    }
    @media (max-width: 480px) {
        .col-xss-offset-0 {
            margin-left: 0%;
        }
    }
    @media (max-width: 768px) {
        .slider-arrow-left, .slider-arrow-right {
            display: none;
        }
    }
    @media (min-width: 767px) {
        .infoPC {
            display: block;
        }
        body {
            overflow-y: scroll;
        }
        .go-top {
            right: 50px;
            bottom: 50px;
        }
        .iphone7 {
            width: 250px;
        }
        .mobile-content-else {
            width: 220px;
        }
        .img-block {
            text-align: left;
        }
        .img-block-sec {
            position: relative;
            left: 20px;
        }
    }
    @media (min-width: 1179px) {
        .iphone7 {
            width: 285px;
        }
        .mobile-content {
            top: 95px;
            width: 250px;
        }
        .mobile-content-else {
            width: 250px;
        }
    }
    @media (min-width: 1400px) {
        .col-lg-offset-1 {
            margin-left: 0px;
            margin-right: 50px;
        }
    }

    .all-rights-reserved {
        display: none;
    }

    .go-top {
        position: fixed;
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
        color: #5076AF;
        font-size: 14pt;

        display: none;
        padding: 10px;
        border: 1px solid;
        border-radius: 100%;
        background: #F7FAFF;
        border-color: transparent;
        cursor: pointer;
    }

    .movie {
        text-align: center;
    }

    .movie > iframe {
        display: inline-block;
    }

    .slider-arrow-left, .slider-arrow-right {
        position: fixed;
        width: 40px;
        height: 40px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        opacity: 0.4;
        cursor: pointer;
    }

    .slider-arrow-right {
        right: 50px;
    }

    .slider-arrow-left {
        left: 50px;
        transform: rotate(180deg);
    }

    .slider-arrow-left:hover, .slider-arrow-right:hover {
        opacity: 1;
    }
</style>

<div ng-include="'tpl/profile_detail.html'" class="col-xss-12 col-xss-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0">
</div>

<div class="col-xss-12 col-xss-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-11 col-lg-offset-1" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    <div ng-if="profile.movie" ng-bind-html="thisCanBeusedInsideNgBindHtml(profile.movie)" class="movie"></div>
    <div ng-if="profile.tpl == 'website' || profile.tpl == 'app/web' || profile.tpl == 'app'" ng-repeat="val in profile.image" style="margin-bottom: 20px; text-align: center;">
        <p ng-if="val.desc" style="color: #5076AF;"><span>{{($index+1) + ". "}}</span>{{val.desc}}</p>
        <a ng-if="val.url" href="{{val.url}}" target="_blank">
            <img class="photoInView" ng-src="{{val.img}}">
        </a>
        <img ng-else class="photoInView" ng-src="{{val.img}}">
    </div>
    <!-- <div class="img-block" ng-if="profile.tpl.indexOf('app') != -1" ng-repeat="val in profile.image" style="margin-bottom: 20px;">
        <div ng-if="$index == 0" >
            <div style="position: relative; display: inline-block;">
                <p style="color: #5076AF; text-align: left;"><span>{{($index+1) + ". "}}</span>{{val.desc}}/{{profile.image[$index+1].desc}}</p>
                <img class="iphone7" src="img/icon/black-iphone-7.png">
                <img class="mobile-content" ng-src="{{val.img}}">
            </div><div style="position: relative; display: inline-block;">
                <img class="mobile-content-else mobile-content-sec" ng-src="{{profile.image[$index+1].img}}">
            </div>
        </div>
        <div class="img-block-sec">
            <div ng-if="$index > 1 && $index%2 == 0">
                <div style="position: relative; display: inline-block;">
                    <p style="color: #5076AF; text-align: left;"><span>{{($index) + ". "}}</span>{{val.desc}}</p>
                    <img class="mobile-content-else" ng-src="{{val.img}}">
                </div>
                <div ng-if="$index+1 < profile.image.length" style="position: relative; display: inline-block;">
                    <p style="color: #5076AF; text-align: left;"><span>{{($index+1) + ". "}}</span>{{profile.image[$index+1].desc}}</p>
                    <img class="mobile-content-else" ng-src="{{profile.image[$index+1].img}}">
                </div>
            </div>
        </div>
    </div> -->
</div>

<div id="goTop" ng-click="screenTop()" class="go-top">Top</div>
<img ng-if="pageSwitch.index != 0" class="slider-arrow-left" src="/img/icon/photoArrow.png" ng-click="pageSwitch.back()">
<img ng-if="!pageSwitch.isEnd()" class="slider-arrow-right" src="/img/icon/photoArrow.png" ng-click="pageSwitch.forward()">
