<style>
    @import "../css/customized.css";
</style>
<div 
    style="color: #5076AF; padding-top: 10px;"
    class="content col-xss-12 col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <div style="text-align: right; cursor: pointer;">
        <img src="img/icon/btn_close.png" ng-click="pageBack()" style="width: 42px; height: 42px;">
    </div>
    <div class="icon-list">
        <img src="img/icon/icon_pc.png">
        <img src="img/icon/icon_phone.png">
    </div>
    <header class="block">
        <div class="text-block">
            <h1>17FIT</h1>
            <h1>前台 增加多元支付與訂單歷程介面</h1>
            <p class="desc-md">
                就現有的前台介面增加使用者能勾選『不同的支付方式』，並增加能閱覽訂單的『訂單歷程』頁面，出UI/UX的文件。
            </p>
        </div>
        <img src="img/tiger/customized_2/works_banner2.png">
        <p class="desc-sm">
            就現有的前台介面增加使用者能勾選『不同的支付方式』，並增加能閱覽訂單的『訂單歷程』頁面，出UI/UX的文件。
        </p>
        <li class="responsible">
            <ul>分類：UI/UX</ul>
            <ul>負責項目：增加功能介面</ul>
            <ul>製作公司：老虎網路科技有限公司</ul>
            <ul>軟體：Figma</ul>
        </li>
    </header>
    <div class="dot-line" style="margin-top: 15px;"></div>
    <article class="chapter chapter-2">
        <h2>需求</h2>
        <p style="margin-top: 30px;">現有功能只有單一支付選項，為了提供使用者及場館多元且更方便的選擇，增加多元支付的選項與相對應延伸出來的訂單歷程的介面。</p>
        <h2>Roadmap</h2>
        <img class="demo-img" src="img/tiger/customized_2/roadmap_2.png">
        <h3 class="highlight-title">『UX 文件』</h3>
        <img class="demo-img" src="img/tiger/customized_2/p2_ux_1.png">
        <h3 class="highlight-title">『UI 文件』</h3>
        <p>前台 RWD 、webadmin、通知信</p>
        <div class="split-img">
            <img class="demo-img" src="img/tiger/customized_2/p2_ui_1.png">
            <img class="demo-img" src="img/tiger/customized_2/p2_ui_2.png">
        </div>
        <img class="demo-img" src="img/tiger/customized_2/p2_ui_3.png">
    </article>
    <!-- 至頂按鈕 -->
    <div id="goTop" ng-click="screenTop()" class="go-top">Top</div>
</div>